// .method {
// 	position: relative;
// }

article {
  &.event,
  &.method {
    padding: 1em 0 1em;
    margin: 1em 0;
    border-top: 1px solid var(--border-color);
  }
}

.event-type,
.method-type {
  .method-type-signature:not(:empty) {
    display: inline-block;
    margin-bottom: 0.75em;
    background: #ecf0f1;
    color: #95a5a6;
    padding: 0.25em 0.5em 0.35em;
    font-weight: lighter;
    font-size: 0.8rem;
  }
}

.method-heading {
  margin: 1em 0;
}

.method-params {
  li {
    margin-bottom: 1em;
  }
}

.method-source {
  a:link, a:visited {
    color: var(--light-font-color);
  }
}

.event-description,
.method-description {
  margin: 0 0 2em;
}
