h1 {
	font-size: 2rem;
}

h5 {
  margin: 0;
  font-weight: 500;
  font-size: 1em;

  & + .code-caption {
    margin-top: 1em;
  }
}

.page-kind {
	margin: 0 0 -0.5em;
	font-weight: 400;
	color: var(--light-font-color);
	text-transform: uppercase;
}

.page-title {
	margin-top: 0;
}

.subtitle {
	font-weight: 600;
	font-size: 1.5em;
	color: var(--text-color);
	margin: 1em 0;
	padding: 0.4em 0;
	border-bottom: 1px solid var(--border-color);

	& + .event,
  & + .method {
    border-top: none;
    padding-top: 0;
  }
}

.event-name,
.method-name,
.type-definition-name {
  margin: 1em 0;
  font-size: 1.4rem;
  font-family: var(--code-font);
  font-weight: 600;
  color: var(--secondary-color);

  .return-type-signature {
    color: #aaa;
  }

  // e.g. "opt"
  .signature-attributes {
    display: inline-block;
    margin-left: 0.25em;
    font-size: 60%;
    color: #999;
    font-style: italic;
    font-weight: lighter;
  }
}