@charset "UTF-8";
/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+json&plugins=line-highlight+line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em; }

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white; }

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em; }

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none; }

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

:root {
  --primary-color: #0664a8;
  --secondary-color: #107e7d;
  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-color);
  --border-color: #eee;
  --code-color: #666;
  --code-attention-color: #ca2d00;
  --text-color: #4a4a4a;
  --light-font-color: #999;
  --supporting-color: #7097b5;
  --heading-background: #f7f7f7;
  --code-bg-color: #f8f8f8;
  --max-content-width: 900px;
  --nav-width: 320px;
  --padding-unit: 30px;
  --base-font-size: 16px;
  --base-line-height: 1.7;
  --body-font: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --code-font: Consolas, Monaco, 'Andale Mono', monospace; }

body {
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: var(--link-color); }
  a:hover, a:active {
    text-decoration: underline;
    color: var(--link-hover-color); }

img {
  max-width: 100%; }
  img + p {
    margin-top: 1em; }

ul {
  margin: 1em 0; }

tt, code, kbd, samp {
  font-family: var(--code-font); }

code {
  display: inline-block;
  background-color: var(--code-bg-color);
  padding: 2px 6px 0px;
  border-radius: 3px;
  color: var(--code-attention-color); }

.layout-main,
.layout-footer {
  margin-left: var(--nav-width); }

.container {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto; }

.layout-main {
  margin-top: var(--padding-unit);
  margin-bottom: var(--padding-unit);
  padding: 0 var(--padding-unit); }

.layout-header {
  border-right: 1px solid var(--border-color);
  position: fixed;
  padding: 0 var(--padding-unit);
  top: 0;
  left: 0;
  right: 0;
  width: var(--nav-width);
  height: 100%;
  overflow: scroll; }
  .layout-header h1 {
    display: block;
    margin-bottom: 1.5em;
    font-weight: 600;
    font-size: 1rem;
    text-align: center; }
    .layout-header h1 a:link, .layout-header h1 a:visited {
      color: var(--primary-color); }
  .layout-header img {
    max-width: 120px;
    display: block;
    margin: 1em auto; }

.layout-nav {
  margin-bottom: 2rem; }
  .layout-nav ul {
    margin: 0 0 2em;
    padding: 0; }
  .layout-nav li {
    list-style-type: none;
    font-size: 0.95em; }
    .layout-nav li.nav-heading:first-child {
      margin-left: 0;
      margin-bottom: 1em;
      text-transform: uppercase;
      color: #aaa;
      font-size: 0.85em; }
  .layout-nav a {
    color: #666; }
    .layout-nav a:link, .layout-nav a a:visited {
      color: #666; }

.layout-content--source {
  max-width: none; }

.nav-heading {
  margin-top: 1em;
  font-weight: 500; }
  .nav-heading a {
    color: var(--text-color); }
    .nav-heading a:link, .nav-heading a:visited {
      color: var(--text-color); }
  .nav-heading .nav-item-type {
    font-size: 0.9em; }

.nav-item-type {
  display: inline-block;
  font-size: 0.9em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.5em;
  margin-left: 1em; }
  .nav-item-type.type-class {
    display: none; }
  .nav-item-type.type-typedef {
    color: #39b739;
    background-color: #d5efd5; }
  .nav-item-type.type-function {
    color: #549ab9;
    background-color: #e1f6ff; }
  .nav-item-type.type-namespace {
    color: #eb6420;
    background-color: #fad8c7; }
  .nav-item-type.type-member, .nav-item-type.type-module {
    color: #964cb1;
    background-color: #f2e4f7; }
  .nav-item-type.type-event {
    color: #948b34;
    background-color: #fff6a6; }

.layout-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.8em;
  text-align: center;
  color: #aaa; }
  .layout-footer a {
    color: var(--light-font-color);
    text-decoration: underline; }

h1 {
  font-size: 2rem; }

h5 {
  margin: 0;
  font-weight: 500;
  font-size: 1em; }
  h5 + .code-caption {
    margin-top: 1em; }

.page-kind {
  margin: 0 0 -0.5em;
  font-weight: 400;
  color: var(--light-font-color);
  text-transform: uppercase; }

.page-title {
  margin-top: 0; }

.subtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--text-color);
  margin: 1em 0;
  padding: 0.4em 0;
  border-bottom: 1px solid var(--border-color); }
  .subtitle + .event,
  .subtitle + .method {
    border-top: none;
    padding-top: 0; }

.event-name,
.method-name,
.type-definition-name {
  margin: 1em 0;
  font-size: 1.4rem;
  font-family: var(--code-font);
  font-weight: 600;
  color: var(--secondary-color); }
  .event-name .return-type-signature,
  .method-name .return-type-signature,
  .type-definition-name .return-type-signature {
    color: #aaa; }
  .event-name .signature-attributes,
  .method-name .signature-attributes,
  .type-definition-name .signature-attributes {
    display: inline-block;
    margin-left: 0.25em;
    font-size: 60%;
    color: #999;
    font-style: italic;
    font-weight: lighter; }

table {
  margin-top: 1rem;
  width: auto;
  min-width: 400px;
  max-width: 100%;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color); }
  table th, table h4 {
    font-weight: 500; }
  table th,
  table td {
    padding: 0.5rem 0.75rem; }
  table th,
  table td {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color); }
  table p:last-child {
    margin-bottom: 0; }

.readme h2 {
  border-bottom: 1px solid var(--border-color);
  margin: 1em 0;
  padding-bottom: 0.5rem; }
  .readme h2 + h3 {
    margin-top: 0; }

.readme h3 {
  margin: 2rem 0 1rem 0; }

article.event, article.method {
  padding: 1em 0 1em;
  margin: 1em 0;
  border-top: 1px solid var(--border-color); }

.event-type .method-type-signature:not(:empty),
.method-type .method-type-signature:not(:empty) {
  display: inline-block;
  margin-bottom: 0.75em;
  background: #ecf0f1;
  color: #95a5a6;
  padding: 0.25em 0.5em 0.35em;
  font-weight: lighter;
  font-size: 0.8rem; }

.method-heading {
  margin: 1em 0; }

.method-params li {
  margin-bottom: 1em; }

.method-source a:link, .method-source a:visited {
  color: var(--light-font-color); }

.event-description,
.method-description {
  margin: 0 0 2em; }

.param-type code {
  color: #111; }

.param-name {
  font-weight: 600;
  display: inline-block;
  margin-right: 0.5em; }

.param-type,
.param-default,
.param-attributes {
  font-family: var(--code-font); }

.param-default::before {
  display: inline-block;
  content: 'Default:';
  font-family: var(--body-font); }

.param-attributes {
  color: var(--light-font-color); }

.param-description p:first-child {
  margin-top: 0; }

.param-properties {
  font-weight: 500;
  margin: 1em 0 0; }

.param-types,
.property-types {
  display: inline-block;
  margin: 0 0.5em 0 .25em;
  color: #999; }

.param-attr,
.property-attr {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: 1px solid #eee;
  color: #aaa;
  font-weight: 300;
  font-size: 0.8em;
  vertical-align: baseline; }

.properties-table p:last-child {
  margin-bottom: 0; }

pre[class*="language-"] {
  border-radius: 0; }

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none;
  border: none; }
  code[class*="language-"].source-page,
  pre[class*="language-"].source-page {
    font-size: 0.9em; }

.line-numbers .line-numbers-rows {
  border-right: none; }

.source-page {
  font-size: 14px; }
  .source-page code {
    z-index: 1; }
  .source-page .line-height.temporary {
    z-index: 0; }
