// @import "vendor/prism-okaidia";
// @import "vendor/prism.v2";
@import "vendor/prism-tomorrow-night";
@import "vars";
@import "base";
@import "layout";
@import "typography";
@import "tables";
@import "readme";
@import "methods";
@import "params";

// Override Prism.js

pre[class*="language-"] {
  border-radius: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none;
  border: none;

	&.source-page {
		font-size: 0.9em;
	}
}

.line-numbers .line-numbers-rows {
  border-right: none;
}

.source-page {
	font-size: 14px;

	code {
		z-index: 1;
	}

	.line-height.temporary {
		z-index: 0;
	}
}