.link {
	stroke: $graphLinkColor;
	stroke-width: 1px;

	&[data-rel="is-source"] {
		stroke: $yellow;
	}

	&[data-rel="is-deep-source"] {
		stroke: $darkOrange;
	}

	&[data-rel="is-target"] {
		stroke: $red;
	}

	&[data-rel="has-no-relationship"] {
		stroke: $noRelationshipLinkColor;
	}

	&[data-hidden="1"] {
		stroke: $hiddenLinkColor;
	}
}