.node {
	&:hover {
		cursor: pointer;
	}

	fill: $green;
	stroke: $green;
	stroke-width: 3px;

	transform-origin: center center;
	animation-iteration-count: infinite;

	// --- Uptime Status ---

	&.status-down {
		fill: $statusDownFill;
		stroke: $statusDownStroke;
		animation-timing-function: ease-in;
		animation-duration: 1.1s;
		animation-name: flashRed, shake;
	}

	&.status-deploying {
		fill: $statusDeployingFill;
		stroke: $statusDeployingStroke;
		animation-name: flashBlue;
		animation-duration: 3s;
		animation-timing-function: ease;
	}

	// --- Relationships ---

	&[data-rel="is-source-and-target"] {
		fill: $green;
		stroke: lighten($green, 10%);
	}

	&[data-rel="is-source"] {
		fill: $red;
		stroke: lighten($red, 10%);
	}

	&[data-rel="is-deep-source"] {
		fill: $orange;
		stroke: lighten($orange, 10%);
	}

	&[data-rel="is-target"] {
		fill: $yellow; // $lightenDarkenColor(colors.yellow, -40)
		stroke: lighten($yellow, 10%);
	}

	&[data-rel="has-no-relationship"] {
		fill: $backgroundOffsetColor;
		stroke: lighten($backgroundOffsetColor, 10%);
	}
	// &[data=rel="is-same-node"] {
	// 	fill: $
	// }
}