@import "variables";
@import "demo";

.link {
	stroke: $graphLinkColor;
	stroke-width: 2px;
}

svg {
	border: 1px solid #28405aab;
}

svg,
.labels-container {
	font-family: 'Roboto';
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	text {
		fill: $graphLabelColor;
	}
}

circle {
	&:hover {
		cursor: pointer;
	}
}
