@import "variables";
@import "animations";

.link {
	stroke: $graphLinkColor;
	stroke-width: 2px;
}

svg {
	border: 1px solid #20354a;
}

svg,
.labels-container {
	font-family: 'Roboto';
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	text {
		fill: $graphLabelColor;
	}
}

circle {
	&:hover {
		cursor: pointer;
	}
}

.node {
	transform-origin: center center;
	animation-iteration-count: infinite;

	&.status-down {
		animation-timing-function: ease-in;
		animation-duration: 1.1s;
		animation-name: flashRed, shake;
	}

	&.status-deploying {
		animation-name: flashBlue;
		animation-duration: 3s;
		animation-timing-function: ease;
	}
}

.label {
	transform-origin: center center;
	animation-iteration-count: infinite;

	&.status-down {
		fill: darken($red, 4%);
		animation-timing-function: ease-in;
		animation-duration: 1.1s;
		animation-name: shake;
	}

	&.status-deploying {
		fill: $blue;
	}
}