<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header class="demo-header">
		{{!-- <img src="./images/newton-logo.png" class="demo-logo" alt="Newton.js Logo"> --}}
		<h1>Newton.js Demo - Graph</h1>
		<nav class="demo-nav">
			<ul>
				<li>
				<a href="https://julie-ng.github.io/newtonjs-graph/" target="_blank">API Docs</a>
				</li>
				<li>
					<a href="https://github.com/julie-ng/newtonjs-graph" target="_blank">GitHub Source</a>
				</li>
			</ul>
		</nav>
	</header>
	{{!-- <div class="demo-delete">
		<input type="text" id="js-delete-id" class="input-txt" placeholder="id, e.g. '1'">
		<button id="js-delete" class="btn">Delete</button>
	</div> --}}
	<svg class="graph-svg" width="960" height="600"></svg>
</body>
</html>