<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<h1>{{ title }}</h1>
		<input type="text" id="js-delete-id" style="width:20px" class="input-txt"><button id="js-delete" class="btn">Delete</button>
	</header>
	<svg class="dashboard-svg" width="960" height="600"></svg>
</body>
</html>